.thanks-you{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 8rem;
    
    &__logo{
        width: 95%;
        max-width: 1000px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2.5rem;
        margin-bottom: 6rem;

        img{
            height: clamp(108px, 8vw, 150px);
        }
    }
    &__title{
        color: #fff;
        font-family: "Monserrat Semibold";
        font-size: clamp(2rem, 3.5vw, 5rem);
        text-align: center;
        margin-bottom: clamp(2.5rem, 4vw, 6rem);
        width: 95%;
        max-width: 1000px;
    }
    &__p{
        color: #fff;
        font-size: clamp(1.6rem, 3vw, 2.5rem);
        font-family: "Monserrat";
        text-align: left;
        margin-bottom: clamp(2rem, 2.5vw, 4rem);
        width: 95%;
        max-width: 1000px;

        a{
            color: #fff;
            text-decoration: underline;
        }

        span{
            font-family: "Monserrat Italic";
            border-bottom: 2px solid #2995FC;
            cursor: pointer;
            transform: translateY(0);
            padding: 0 10px ;
            position: relative;

            small{
                position: absolute;
                top: -101%;
                left: 95%;
                width: fit-content;
                text-wrap: nowrap;
                background-color: #2995FC;
                border-radius: 8px;
                border: 1px solid #fff;
                padding: 5px;
                color: #fff;
                font-size: 12px;
                font-family: 'Monserrat';

            }
        }
    }

    &__support-text{
        color: #fff;
        font-size: clamp(1.6rem, 3vw, 2.5rem);
        font-family: "Monserrat";
        text-align: left;
        margin-bottom: clamp(2rem, 2.5vw, 4rem);
        width: 95%;
        max-width: 1000px;

        a{
            color: #fff;
            cursor: pointer;
        }
    }
    &__steps{
        width: 95%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 5rem;

        &>div{
            flex: .5 0 250px;
        }


        &--cta{
            display: block;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 20px;
            margin: clamp(2rem, 4vw, 7rem) auto;
            // margin: 20px auto;
            text-align: center;
            background-color: #DA82FF;
            color: #fff;
            font-family: 'Monserrat', sans-serif;
            font-size: clamp(2rem, 3vw, 2.5rem);
        }
        &--step{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: clamp(1.8rem, 3vw, 2.5rem);
            font-family: "Monserrat";
            padding: clamp(2rem, 4vw, 4rem) 2rem;
            border-radius: 20px;
            border: 4px solid #2995FC;

            a{
                text-decoration: none;
                color: #2995FC;
            }

            h5{
                text-align: center;
                font-size: clamp(1.8rem, 3vw, 2.5rem);
                max-width: 600px;
                margin-bottom: 20px;
            }
            p{
                font-size: clamp(1.6rem, 2vw, 2rem);
            }
            ul{
                margin-top: 20px;
                padding-left: 20px;
                font-size: clamp(1.6rem, 2vw, 2rem);
                li{
                    margin: 5px;
                    span{
                        font-family: "Monserrat Italic";
                        border-bottom: 2px solid #2995FC;
                        cursor: pointer;
                        transform: translateY(0);
                        padding: 0 10px ;
                        position: relative;
            
                        small{
                            position: absolute;
                            top: -101%;
                            left: 95%;
                            width: fit-content;
                            text-wrap: nowrap;
                            background-color: #2995FC;
                            border-radius: 8px;
                            border: 1px solid #fff;
                            padding: 5px;
                            color: #fff;
                            font-size: 12px;
                            font-family: 'Monserrat';
            
                        }
                    }
                }
            }
        }
    }
    &__download{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: clamp(2rem, 4vw, 7rem) 0;
        // margin: clamp(2rem, 4vw, 7rem);

        a{
            text-decoration: none;
            width: clamp(100px, 15vw, 300px);

            img{
                width: 100%;
            }
        }
    }
    &__visit-us{
        color: #fff;
        font-size: clamp(1.6rem, 3vw, 2.5rem);
        font-family: "Monserrat";
        text-align: center;
        width: 95%;
        max-width: 1000px;
        margin-bottom: clamp(2rem, 4vw, 7rem);
            }
    &__socials{
        width: 95%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: clamp(2rem, 4vw, 7rem);

        a{
            width: clamp(28px, 3vw, 45px);

            img{
                width: 100%;
            }
        }
    }
    &__redirect{
        font-family: "Monserrat";
        text-decoration: none;
        transition: all .2s;
        color: #2995FC;
        font-size: clamp(1.8rem, 2.5rem, 3rem);
        cursor: pointer;
    }
}