.thanks-you{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: clamp(30px, 5vw, 100px) 0;


    &__logo{
        width: 95%;
        max-width: 1000px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 6rem;

        img{
            width: clamp(148px, 25vw, 391px);
        }
    }
    &__title{
        color: #fff;
        font-family: "Monserrat Semibold";
        font-size: clamp(2rem, 3.5vw, 5rem);
        text-align: center;
        margin-bottom: clamp(2.5rem, 4vw, 6rem);
        width: 95%;
        max-width: 1000px;
    }
    &__p{
        color: #fff;
        font-size: clamp(1.6rem, 3vw, 2.5rem);
        font-family: "Monserrat";
        text-align: left;
        margin-bottom: clamp(2rem, 2.5vw, 4rem);
        width: 95%;
        max-width: 1000px;
    }
    &__key-btn{
        margin: 0 auto;
        padding: 12px 50px;
        color: #fff;
        text-transform: uppercase;
        background-color: #00BFE9;
        margin-bottom: clamp(4rem, 5vw, 6.6rem);
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    &__support-text{
        color: #fff;
        font-size: clamp(1.6rem, 3vw, 2.5rem);
        font-family: "Monserrat";
        text-align: left;
        margin-bottom: clamp(2rem, 2.5vw, 4rem);
        width: 95%;
        max-width: 1000px;

        a{
            color: #fff;
            cursor: pointer;
        }
    }
    &__steps{
        width: 95%;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 5rem;


        &--step{
            flex: 1 0 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: clamp(1.8rem, 3vw, 2.5rem);
            font-family: "Monserrat";
            padding: clamp(2rem, 4vw, 4rem) 2rem;
            border-radius: 20px;
            border: 4px solid #2995FC;

            a{
                text-decoration: none;
                color: #2995FC;
            }
        }
    }
    &__download{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: clamp(2rem, 4vw, 7rem);

        a{
            text-decoration: none;
            width: clamp(100px, 9vw, 228px);

            img{
                width: 100%;
            }
        }
    }
    &__visit-us{
        color: #fff;
        font-size: clamp(1.6rem, 3vw, 2.5rem);
        font-family: "Monserrat";
        text-align: center;
        width: 95%;
        max-width: 1000px;
        margin-bottom: clamp(2rem, 4vw, 7rem);
            }
    &__socials{
        width: 95%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: clamp(2rem, 4vw, 7rem);

        a{
            width: clamp(28px, 3.5vw, 58px);

            img{
                width: 100%;
            }
        }
    }
    &__redirect{
        font-family: "Monserrat";
        text-decoration: none;
        transition: all .2s;
        color: #2995FC;
        font-size: clamp(1.8rem, 2.5rem, 3rem);
        cursor: pointer;
    }
}