.burger-alternative{
    &__checkbox{
        display: none;
    }
    &__background{
        display: none;

        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        // background-image: radial-gradient(#ffffff, #a7bacc);
        background-color: #fff;
        z-index: 1000;
        transition: transform 1s;
    }

    &__button{
        display: none;

        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        height: 6.5rem;
        width: 6.5rem;
        z-index: 2000;
        cursor: pointer;
        text-align: center;
    }
    
    &__mob-nav{
        display: none;

        width: 0;
        opacity: 0;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        padding: 1rem;
        padding-top: 5rem;
        overflow: auto;

        &--list{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-100rem, -50%); 
            transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style-type: none;
            overflow-y: auto;

            &::-webkit-scrollbar{
                display: none;
            }
        }
        &--item{
            list-style: none;
            margin: 1rem;
            color: #000;
            font-family: "Monserrat Semibold";
        }
        &--link{
            &:link,
            &:visited{
                display: inline-block;
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                padding: 1rem 2rem;
                font-size: 2rem;
                font-weight: 300;
                background-size: 220%;
                transition: all .4s;
    
                span{
                    padding-right: 1.5rem;
                }
            }
            &:hover{
                background-position: 100%;
                color: #2995FC;
                transform: translateX(1rem);
            }
        }
    }
    &__desk-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;

        &--item{
            list-style: none;
            margin: 1rem;
            color: #000;
            font-family: "Monserrat Semibold";
        }
        &--link{
            &:link,
            &:visited{
                text-decoration: none;
                color: #918F94;
                font-family: "Monserrat";
                font-size: clamp(1.7rem, 2vw, 2.4rem);
                transition: all .3s;
            }
            
            &:active,
            &:focus,
            &:hover{
                color: #000;
            }
        }
    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background{
        transform: scale(50);
    }
    &__checkbox:checked ~ &__mob-nav{
        width: 100%;
        opacity: 1;
    }
    &__checkbox:checked ~ &__mob-nav &__mob-nav--list{
        transform: translate(-50%, -50%); 
    }


    //BUTTON-STYLE
    &__icon{
        position: relative;
        margin-top: 3.3rem;

        &,
        &::after,
        &::before{
            width: 3rem;
            height: 3px;
            background-color: #2995FC;
            display: inline-block;
        }
        &::after,
        &::before{
            content: "";
            position: absolute;
            left: 0;
            transition: transform .5s;
        }
        &::after{
            top: .8rem;
        }
        &::before{
            top: -.8rem;
        }
    }

    &__checkbox:checked ~ &__button &__icon::after{
        transform: rotate(-135deg);
        top: 0;
    }
    &__checkbox:checked ~ &__button &__icon::before{
        transform: rotate(135deg);
        top: 0;
    }
    &__checkbox:checked ~ &__button &__icon{
        background-color: transparent;
    }



    @media (max-width: 768px) {
        &__desk-nav{
            display: none;
        }
        &__mob-nav{
            display: block;
        }
        &__background{
            display: block;
            top: 2rem;
            right: 2rem;
            height: 5rem;
            width: 5rem;
        }
        &__button{
            display: block;
            top: 2rem;
            right: 2rem;
            height: 5rem;
            width: 5rem;
        }
        &__icon{
            margin-top: 2.5rem;

            &,
            &::after,
            &::before{
                width: 2.3rem;
            }
            &::after{
                top: .6rem;
            }
            &::before{
                top: -.6rem;
            }
        }
    }
    @media (max-width: 380px) {
        &__background{
            top: 1rem;
            right: 1rem;
        }
        &__button{
            top: 1rem;
            right: 1rem;
        }
    }
}