.btn-two-states{
    border: none;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-family: "Monserrat Semibold";
    width: clamp(220px, 34vw, 400px);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    background-color: #2995FC;
    color: #fff;
    position: relative;
    
    @media (max-width: 768px) {
        width: fit-content;
        min-width: 64vw;
    }

    &>*{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;
    }

    &__visible{
        padding: 1.5rem;
    }
    &__invisible{
        width: 101%;
        padding: 1.5rem;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #000; 
        color: #2995FC;
    }
}

// btn effect
.btn-two-states:hover {
    background-color: #000; 
}
.btn-two-states:hover .btn-two-states__visible {
    transform: translateY(-100%); 
}
.btn-two-states:hover .btn-two-states__invisible {
    top: 0;
}
