.big-brand-swiper-wrapper{
    height: 20rem;

    &__swiper{
        background-color: #fff;
        border: 3px solid #ccc;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
    &__slider{
        box-sizing: border-box;
        padding: 5px;
        background-color: #fff;
        width: 100%;
        height: 100%;
        
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}
.small-brand-swiper-wrapper{
    height: 10rem;

    &__swiper{
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
    &__slider{
        box-sizing: border-box;
        padding: 5px;
        background-color: #fff;
        width: 100%;
        height: 100%;
        
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}