.footer{
    width: 100%;

    &__data{
        background-color: #000;
        padding: 4rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;

        &--contact{
            flex: 1 0 22%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            strong{
                font-family: "Monserrat Semibold";
                color: #fff;
                font-size: clamp(1.5rem, 2vw, 1.8rem);
                margin-bottom: 10px;
            }
            a{
                font-family: "Monserrat";
                color: #fff;
                font-size: clamp(1.5rem, 2vw, 1.8rem);
                margin-bottom: 15px;
                text-decoration: none;
                cursor: pointer;
                display: flex;

                img{
                    margin-right: 10px;
                    width: 2rem;
                }
            }
            span{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a{
                    cursor: pointer;
                    text-decoration: none;
                    margin-right: 10px;
                    img{
                        width: 2rem;
                    }
                }
            }
        }
        &--img{
            cursor: pointer;
            flex: 1 0 30%;
            display: flex;
            justify-content: center;

            img{
                width: clamp(15rem, 25vw, 30rem);
            }
        }
        &--support{
            flex: 1 0 22%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            strong{
                font-family: "Monserrat Semibold";
                color: #fff;
                font-size: clamp(1.5rem, 2vw, 1.8rem);
                margin-bottom: 10px;
            }
            a{
                font-family: "Monserrat";
                cursor: pointer;
                color: #fff;
                font-size: clamp(1.5rem, 2vw, 1.8rem);
                margin-bottom: 15px;
                text-decoration: none;
                display: flex;


                img{
                    margin-right: 10px;
                    width: 2rem;
                }
            }
        }
        &--legal{
            flex: 1 0 20%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            strong{
                font-family: "Monserrat Semibold";
                color: #fff;
                font-size: clamp(1.5rem, 2vw, 1.8rem);
                margin-bottom: 10px;
            }
            a{
                cursor: pointer;
                font-family: "Monserrat";
                color: #fff;
                font-size: clamp(1.5rem, 2vw, 1.8rem);
                margin-bottom: 10px;
                text-decoration: none;
            }
        }
    }
    &__access{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-wrap: wrap;
        background-color: #fff;
        height: 100%;
        padding: 2rem 1rem;
        color: #313033;
        font-family: "Monserrat Light";
        font-size: clamp(1.4rem, 2vw, 1.6rem);
        text-align: center;
    }

    @media (max-width: 768px) {
        &__data{
            flex-direction: column;

            &--contact{
                flex: 1 0 0;
                margin-right: auto;
                margin-bottom: 3rem;
            }
            &--support{
                margin-right: auto;
                order: 3;
            }
            &--legal{
                margin-right: auto;
                order: 3;
            }
        }
    }
}