.header{
    background-color: #000;
    height: 100%;
    padding: 3rem 10rem 6rem 7rem;


    &__content{
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--text-box{
            display: flex;
            flex: 1 0 40%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            h1{
                color: #fff;
                font-size: clamp(2rem, 2.4vw, 2.6rem);
                max-width: 406px;
                font-family: "Monserrat Semibold";
                margin-bottom: 4rem;
                min-height: clamp(120px, 12vw, 160px);

                span{
                    color: #2995FC;
                }
            }
            h2{                
                color: #ffffffb6;
                font-size: clamp(1.7rem, 2vw, 2.2rem);
                text-align: left;
                font-family: "Monserrat";
                margin-bottom: 4.8rem;
            }
        }
        &--ilustration{
            flex: 1 0 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                display: block;
                margin: 0 auto;
                width: clamp(28rem, 100%, 60.4rem);
            }
        }
    }
    
    // queries
    @media (max-width: 1200px) {
        padding: 6rem 6rem 4rem 6rem;

        &__content{
            padding-top: 3rem;
        }
    }

    @media (max-width: 768px) {
        padding: 3rem 2rem 3rem 3rem;

        &__content{
            flex-direction: column;

            &--text-box{
                width: 100%;
                margin-right: 0;
                margin-bottom: 3rem;
            }
        }
    }

}

