.section-app{
    width: 100%;
    height: max-content;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2rem 0;
    
    &__border{
        width: clamp(3rem, 4vw, 6.5rem);
        background-color: #2995FC;
        
        &--right{
            border-radius: 1rem 0 0 1rem;
        }
        &--left{
            border-radius: 0 1rem 1rem 0;
        }
    }
    &__content{
        flex: 1 0 0;
        padding: clamp(5.7rem, 6vw, 9rem) 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &--title{
            color: #313033;
            font-size: clamp(2rem, 2.3vw, 3rem);
            font-family: "Monserrat";
            margin-bottom: 3rem;
            text-align: center;

            @media (max-width:768px) {
                margin-bottom: 2rem;
            }
        }
        &--subtitle{
            width: 100%;
            max-width: 48.5rem;
            color: #313033;
            text-align: center;
            font-family: 'Monserrat';
            font-size: clamp(2rem, 2.5vw, 3.2rem);
            margin: 5rem 1rem;
        }
        &--p{
            color: #313033;
            font-size: clamp(1.7rem, 2.3vw, 2rem);
            font-family: "Monserrat";
            text-align: center;
            max-width: 92rem;
            width: 90%;
            margin-bottom: 1rem;

            span{
                display: block;
                max-width: 700px;
                margin: 0 auto;
                font-family: "Monserrat Semibold";
                color: #2995FC;
            }
        }
        p:last-of-type{
            margin-bottom: 4rem;
        }
        &--banner{
            height: auto;
            margin-bottom:4rem;
    
            img{
                display: block;
                width: clamp(280px, 70vw, 1000px);
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        a{
            margin-top: 4rem;
        }
        &--download-btn{
            margin-top: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            a{
                text-decoration: none;
                width: clamp(87px, 100%, 127px);
                
                img{
                    width: 100%;
                }
            }
        }
    }


    @media (max-width: 768px) {
        flex-direction: column;
        padding: 0;

        &__border{
            width: 100%;
            min-height: 4.7rem;
    
            &--right{
                border-radius: 0 0 1rem 1rem;
            }
            &--left{
                border-radius: 0 0 1rem 1rem;
            }
        }
        &__content{
            padding: clamp(5.7rem, 6vw, 9rem) 1.5rem;
        }
    }
}